%form{:name => "form", :action => "/search", :method => "get"}
  %div
    %input#all{:type => 'radio', :name => 'category', :value => 'all'}
    %label{:for => "all"} All
    %input#application{:type => 'radio', :name => 'category', :value => 'application'}
    %label{:for => "application"} Application
    %input#audio{:type => 'radio', :name => 'category', :value => 'audio'}
    %label{:for => "audio"} Audio
    %input#image{:type => 'radio', :name => 'category', :value => 'image'}
    %label{:for => "image"} Image
    %input#text{:type => 'radio', :name => 'category', :value => 'text'}
    %label{:for => "text"} Text
    %input#video{:type => 'radio', :name => 'category', :value => 'video'}
    %label{:for => "video"} Video
  %div{:style => "margin-top:10px;"}
    %input#searchBar{:type => "text", :name => "keyword", :size => "35"}
    %input{:type => "submit", :value => "Search"}
    %a#toggleAdvanced{:href => "#", :onclick => "return false;", :title => "Show advanced settings"} [+] more
  #advanced
    %table{:style => "width: 100%; font-size: 9pt; font-family: monospace"}
      %tbody
        %tr
          %td{:style => "width:50%; padding: 10px; text-align: right", :valign => "top"}
            %fieldset{:style => "border:0"}
              %span{:style => "color:gray"} search fields:
              %br
              %label{:for => "share"} /picb/share/
              %input#share{:type => "checkbox", :name => "share"}
              %br
              %label{:for => "student"} /picb/student/
              %input#student{:type => "checkbox", :name => "student"}
              %br
              %label{:for => "extprog"} /picb/extprog/
              %input#extprog{:type => "checkbox", :name => "extprog"}
              %br
              %label{:for => "intprog"} /picb/intprog/
              %input#intprog{:type => "checkbox", :name => "intprog"}
              %br
              %label{:for => "ports"} /picb/ports/
              %input#ports{:type => "checkbox", :name => "ports"}
              %br
          %td{:style => "width:50%; padding: 10px; text-align: left", :valign => "top"}
            %fieldset{:style => "border:0"}
              %span{:style => "color:gray"} keyword settings:
              %br
              %label{:for => "case"}case sensitive
              %input#case{:type => "checkbox", :name => "case"}
              %br
              %label{:for => "regexp"} &nbsp;&nbsp;&nbsp; use regexp
              %input#regexp{:type => "checkbox", :name => "regexp"}
