!!!
%html
  %head
    %title Voodoo -- Search PICB
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/voodoo.css"}
    %script{:type => "text/javascript", :src => "js/jquery-1.7.2.min.js"}
    %script{:type => "text/javascript", :src => "js/jquery.watermark.min.js"}
    %script{:type => "text/javascript", :src => "js/voodoo.js"}

    :javascript
      $(document).ready(function() {
        if ("#{@is_home}" == "true") {
          $('#searchBar').focus();
          $('#advanced').show();
          $('#toggleAdvanced').html("[-] less");
          $('#toggleAdvanced').attr('title', 'Hide advanced settings');
        }

        $('#searchBar').watermark("Enter keyword here");

        // Populate settings using @params_json
        var params = JSON.parse('#{@params_json}');
        $.each (params, function(key, value) {
          if (key == "category") {
            $('#' + value).prop("checked", true);
          } else if (key == "keyword") {
            $('#searchBar').val(value);
          } else if (value == "on") {
            $('#' + key).prop("checked", true);
          }
        });


        $('form').submit(function() {
          if ($('#searchBar').val() == "") {
            alert("Empty keyword!");
            $('#searchBar').focus();
            return false;
          }
          if (! ($('input[name="share"]').prop('checked') || $('input[name="student"]').prop('checked') || $('input[name="intprog"]').prop('checked') || $('input[name="extprog"]').prop('checked') || $('input[name="ports"]').prop('checked')) ) {
            alert("You must specify at least one search field!");
            return false;
          }
          return true;
        });

        $('#toggleAdvanced').click(function() {
          var txt = $(this).html();
          $('#advanced').slideToggle('slow', function() {
            if (txt == "[-] less") {
              $('#toggleAdvanced').html("[+] more");
              $('#toggleAdvanced').attr('title', 'Show advanced settings');
            } else {
              $('#toggleAdvanced').html("[-] less");
              $('#toggleAdvanced').attr('title', 'Hide advanced settings');
            }
          });
        });

        if ("#{@is_home}" != "true") {
          $('span.filePath').click(function() {
            $(this).selectText();
          });
        }
      });

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8327560-4']);
      _gaq.push(['_setDomainName', 'xiaoyong.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    = yield
