!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/voodoo.css"}
    :javascript
      function getFocus() {
        document.form.keyword.focus();
      }
      function checkform(form) {
        if (form.keyword.value.trim() == "") {
          alert("Empty keyword!");
          form.keyword.focus();
          return false;
        }
        if (! (form.share.checked || form.student.checked || form.extprog.checked || form.intprog.checked || form.ports.checked) ) {
          alert("You must specify at least one search field!");
          return false;
        }
        return true;
      }
        

  %body{:onload => "getFocus()"}
    = yield

    / Google Analytics
  /
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-8327560-4");
        pageTracker._setDomainName(".xiaoyong.org");
        pageTracker._trackPageview();
      } catch(err) {}
