!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/voodoo.css"}
    %script{:type => "text/javascript", :src => "js/jquery-1.7.2.min.js"}

    :javascript
      $(document).ready(function() {
        if ("#{@is_home}" == "true") {
          $('#searchBar').focus();
        } else {
          $('#advanced').hide();
          $('#toggleAdvanced').html("[+] more");
          $('#toggleAdvanced').attr('title', 'Show advanced settings');
        }

        // Populate settings using @params_json
        var params = JSON.parse('#{@params_json}');
        $.each (params, function(key, value) {
          if (key == "category") {
            $('#' + value).prop("checked", true);
          } else if (key == "keyword") {
            $('#searchBar').val(value);
          } else if (value == "on") {
            $('#' + key).prop("checked", true);
          }
        });


        $('form').submit(function() {
          if ($('#searchBar').val() == "") {
            alert("Empty keyword!");
            $('#searchBar').focus();
            return false;
          }
          if (! ($('input[name="share"]').prop('checked') || $('input[name="student"]').prop('checked') || $('input[name="intprog"]').prop('checked') || $('input[name="extprog"]').prop('checked') || $('input[name="ports"]').prop('checked')) ) {
            alert("You must specify at least one search field!");
            return false;
          }
          return true;
        });

        $('#toggleAdvanced').click(function() {
          var txt = $(this).html();
          $('#advanced').slideToggle('slow', function() {
            if (txt == "[-] less") {
              $('#toggleAdvanced').html("[+] more");
              $('#toggleAdvanced').attr('title', 'Show advanced settings');
            } else {
              $('#toggleAdvanced').html("[-] less");
              $('#toggleAdvanced').attr('title', 'Hide advanced settings');
            }
          });
        });
      });

  %body
    = yield

    / Google Analytics
  /
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-8327560-4");
        pageTracker._setDomainName(".xiaoyong.org");
        pageTracker._trackPageview();
      } catch(err) {}
