body {
  font-family:Helvetica,Arial,Heiti,Sans-serif;
  font-size:11pt;
  background-color:white;
  color:black;
}

#logo {
  text-align:center;
  font-family:Comic Sans MS;
  color:red;
}

#logo.home {
  margin-top:10px;
  margin-bottom:0px;
  font-size:48pt;
}

#logo.search {
  margin-left:10px;
  font-size:24pt;
  float:left;
}

#logo a:link {color:red;text-decoration:none}      /* unvisited link */
#logo a:visited {color:red;text-decoration:none}  /* visited link */
#logo a:hover {color:red;text-decoration:none}  /* mouse over link */

#form.home {
  margin-top:10px;
  text-align:center;
}

#form.search {
  margin-left:30px;
  text-align:center;
  float:left;
}

#searchBar {
  font-size:12pt;
}

#advanced {
  display:none;
}

#header {
  margin-top:10px;
}

#searchInfo {
  margin-left:30px;
  text-align:center;
  font-size:10pt;
  float:left;
  color:gray;
}

#results {
  margin-top:20px;
  margin-bottom:20px;
  margin-left:150px;
  width: 800px;
  padding:15px;
  background-color:#e0ecf8;
  line-height:150%;
  border:solid thin gray;
  clear:both;
  float:left;
  overflow:auto;
}

.lineNumber {
  font-size:10pt;
  font-family:monospace;
  color:gray;
  white-space:pre;
}

#toggleAdvanced {
  font-size: 9pt;
  font-family: monospace;
}

a#toggleAdvanced:link {color:#0000ff;text-decoration:none}      /* unvisited link */
a#toggleAdvanced:visited {color:#0000ff;text-decoration:none}  /* visited link */
a#toggleAdvanced:hover {color:#00ff00;text-decoration:none}  /* mouse over link */

/* Category style
 * based on http://jsfiddle.net/heZBT/
 */
input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  padding:0px 11px;
  color:blue;
  cursor:pointer;
}

input[type="radio"]:checked + label {
  color:black;
  font-weight:bold;
  cursor:auto;
}
